%div.modal-overlay
  %div.overlay
  %div.activities-options
    %div.properties-header
      Propriedades da atividade
    %div.properties-menu
      %a.publisher{"data-type" => "publisher", "data-target" => "publisher-form"} Publisher
      %a.skype{"data-type" => "video", "data-target" => "videoconference-form"} Video-conferência
      %a.pdf{"data-type" => "pdf", "data-target" => "pdf-form"} PDF
    %div.activity-type.publisher-form
      %input{:class => "form-control", :name => "domain", :placeholder => "Domínio Publisher"}
      %input{:class => "form-control", :name => "edition_id", :placeholder => "ID da edição"}
      %input{:class => "form-control", :name => "publication_id", :placeholder => "ID da publicação"}
    %div.activity-type.videoconference-form
      %input{:class => "form-control", :name => "skype_url", :placeholder => "URL da Vídeo-conferência Skype"}
    %div.activity-type.pdf-form
      %input{:class => "form-control", :name => "pdf_url", :placeholder => "URL do PDF"}

    %div.actions
      %a.cancel Cancelar
      %a.insert Inserir
