= simple_form_for [:admins, resource] do |f|
  - permitted_attributes.map(&:to_s).each do |attribute|
    - if attribute == 'parent_id'
      = f.association :parent, collection: current_organization.send(controller_name)
    - elsif attribute.end_with?('_id') && resource_class.reflections.keys.include?(attribute.sub('_id', ''))
      = f.association attribute.sub('_id', ''), include_blank: false, collection: current_organization.send(attribute.sub('_id', '').pluralize)
    - elsif attribute == 'ancestry'
      = f.input :ancestry, collection: current_organization.contexts.where.not(id: [nil, resource.id])
    - elsif resource_class.defined_enums.has_key?(attribute)
      = f.input attribute, collection: resource_class.send(attribute.pluralize).to_a.map { |key, value| [key.humanize, key] }
    - else
      = f.input attribute
  = f.button :submit
