%h1.page-header= resource_class.model_name.human.pluralize(I18n.locale)

.row
  .col-md-12.placeholder
    = link_to "Criar #{resource_class.model_name.human}", url_for(controller: controller_name, action: 'new'), class: 'btn btn-primary'

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Id
        - permitted_attributes.each do |attribute|
          %th= resource_class.human_attribute_name attribute
        - if resource_class.columns_hash.keys.include?(:created_at)
          %th= resource_class.human_attribute_name :created_at
        - if resource_class.columns_hash.keys.include?(:updated_at)
          %th= resource_class.human_attribute_name :updated_at
        %th
        %th
    %tbody
      - collection.each do |resource|
        %tr
          %td= resource.id
          - permitted_attributes.map(&:to_s).each do |attribute|
            %td
              - if attribute == 'object_id'
                = resource.object_id
              - elsif attribute.end_with?('_id')
                = resource.send(attribute.sub('_id', ''))&.name
              - else
                = resource[attribute]
          - if resource.respond_to?(:created_at)
            %td= resource.created_at
          - if resource.respond_to?(:updated_at)
            %td= resource.updated_at
          %td
            = link_to 'editar', url_for(controller: controller_name, action: :edit, id: resource)
          %td
            = link_to 'apagar', url_for(controller: controller_name, action: :destroy, id: resource), method: :delete, data: { confirm: 'Tem certeza?' }

= paginate collection
