%h1.page-header Visualizar #{resource_instance_name.to_s.humanize}

.row
  .col-md-12.placeholder
    = link_to "Editar #{resource_class.model_name.human}", url_for(controller: controller_name, action: 'edit', id: resource), class: 'btn btn-primary'
    = link_to "Criar #{resource_class.model_name.human}", url_for(controller: controller_name, action: 'new'), class: 'btn btn-primary'

%dl.dl-horizontal
  - permitted_attributes.each do |name|
    %dt= resource_class.human_attribute_name name
    %dd
      - if name == :object_id
        = resource[:object_id]
      - elsif name.to_s.end_with?('_id')
        = resource.send(name.to_s.sub('_id', ''))&.name
      - elsif resource[name].is_a?(Time)
        = l resource[name]
      - else
        = resource[name]
