@import "bootstrap-sprockets"
@import "bootstrap"
@import "dashboard"

body
  padding-top: 60px
  background-color: #F5F5F5
  font-family: Roboto

a
  color: #621C8C

  &:hover
    color: #4F0F75
    text-decoration: none

.navbar-inverse
  height: 60px
  background-color: #621C8C
  border-color: 0

  .navbar-nav > li > a
    color: #CAB6D6
    padding-top: 20px

.sidebar
  width: 205px
  top: 60px
  padding-top: 0
  background-color: #fff

.main
  width: auto
  position: absolute
  top: 60px
  bottom: 0
  left: 205px
  right: 0
  margin-left: 0
  overflow-y: auto

  h1.page-header
    font-size: 23px
    text-transform: uppercase
    color: #621C8C

.nav.nav-sidebar li.first
  background: #F9F9F9
  line-height: 45px
  padding-left: 20px
  border-bottom: 2px solid #EAEAEA
  text-transform: uppercase
  font-size: 11px
  font-weight: 500
  color: #621C8C

.navbar-brand > img
  margin-left: 6px

.nav-sidebar
  > li
    > a
      color: #999
    > a:hover
      background-color: #F9F9F9
  > .active
    > a, > a:hover, > a:focus
      color: #999
      background-color: transparent
      border-left: 4px solid #621C8C
      padding-left: 16px
    a:hover
      background-color: #F9F9F9

.btn-primary, .btn-default
  color: #FFF
  background-color: #621C8C
  border-color: #5D1D84
  border-radius: 2px
  text-transform: uppercase
  font-size: 12px
  padding: 9px 18px

  &:hover, &:active:focus
    color: #FFF
    background-color: #531279
    border-color: #5D1D84

.form-control
  border: 1px solid #E6E6E6
  border-radius: 0
  padding: 20px 12px

  &:focus
    border-color: transparent
    box-shadow: none
    border-bottom: 2px inset #9442C5

select.form-control
  color: #848484
  padding: 0 6px

.modal-overlay
  position: absolute
  z-index: 999
  left: 0
  right: 0
  top: 0
  bottom: 0
  background-color: rgba(0, 0, 0, 0.3)
  display: none

  .overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 1

  .activities-options
    z-index: 2
    background: #fff
    position: absolute
    width: 400px
    height: 310px
    top: 50%
    margin-top: -155px
    left: 50%
    margin-left: -200px

    .properties-header
      width: 100%
      height: 50px
      background: #621C8C
      color: #fff
      line-height: 50px
      padding-left: 20px
      font-weight: bold

    .properties-menu
      height: 45px

      a
        width: 33.3%
        height: 45px
        line-height: 45px
        text-transform: uppercase
        text-align: center
        float: left
        color: #FFF
        font-size: 12px
        background: #621C8C
        cursor: pointer

        &.active
          border-bottom: 3px solid #F2DCFF

        &:hover
        text-decoration: none

        &.pdf
          width: 33.4%

    .activity-type
      display: none

    .activity-type
      margin-top: 0
      padding: 10px

      input
        margin: 8px 0

    .actions
      position: absolute
      left: 0
      right: 0
      bottom: 0
      line-height: 45px
      border-top: 1px solid #EFEFEF
      text-align: right

      a
        text-transform: uppercase
        font-size: 12px
        font-weight: bold
        color: #621C8C
        padding: 16px
        cursor: pointer

        &:hover
          text-decoration: none

.new-property
  background: #621C8C
  color: #fff
  width: 20px
  height: 21px
  display: inline-block
  padding: 0px 5px
  border-radius: 20px
  font-size: 16px
  margin-left: 10px
  cursor: pointer

  &:hover
    color: #fff
    text-decoration: none

.table
  margin-bottom: 0

.table-responsive
  background: #fff
  padding: 15px
  border-radius: 2px
  -moz-box-shadow: 0px 2px 6px 0px #ccc
  -webkit-box-shadow: 0px 2px 6px 0px #ccc
  box-shadow: 0px 2px 6px 0px #ccc

.table-striped > tbody > tr:nth-of-type(odd)
  background: #fff
