!!!
%html
  %head
    %title RDP Manager
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }
    %link{ href: "http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900", rel: "stylesheet", type: "text/css" }
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{ href: admins_root_path }
            = image_tag("/logo.png")
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li= link_to 'Sair', destroy_admin_session_path, data: { method: :delete }
    .container-fluid
      - flash.each do |name, msg|
        = content_tag(:div, msg, class: "alert alert-#{name}")
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li.first= 'Admin - Novo LMS Ânima'
            - %w(activity activities_context answer context event interaction membership notification level project user version).sort_by { |class_name| t class_name, scope: %i(activerecord models) }.each do |class_name|
              %li{ class: (controller_name == class_name.pluralize ? "active" : "") }
                = link_to url_for(controller: "admins/#{class_name.pluralize}", action: :index) do
                  = t(class_name, scope: %i(activerecord models)).pluralize(I18n.locale)
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main= yield
