!!!
%html
  %head
    %title RDP Manager
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }
    %link{ href: "http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900", rel: "stylesheet", type: "text/css" }
  %body
    .container-fluid
      - flash.each do |name, msg|
        = content_tag(:div, msg, class: "alert alert-#{name}")
      .col-md-12= yield
